@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px
}

#myphoto,#myinfo {
	width: 980px;
	margin: 20px auto 0px auto;
	padding: 20px;
	background-color: #888888;
	border: 1px solid #eeeeee;
	text-align: center;
}

	#myphoto>img {
		width: 340px;
		height: 340px;
		border-top: 4px solid #cc33db;
		border-left: 4px dotted #cc33db;
		border-right: 4px dashed #aa00b9;
		border-bottom: 4px double #aa00b9;
	}

#myinfo {
	border-bottm: 10px solid #ff0000;
	font-size:1.5eml;<!--font-size:150%-->;
	text-align:left;
}
	#myinfo ul{
		list-style : square;
		margin-left : 340px;	
	}
			#myinfo > ul > li > span.label{
				text-decoreation:underline;
			}
			
			#myinfo > ul > li > span.content{
				font-weight:bold;
			}	